version: "2" 
services:
    web:
        build: .
        ports:
            - "8888:8888"
            depends_on:
                - mongo
                mongo:
                    image: mongo
                    ports:
                        - "27017:27017"